<!-- tableWidget/main.html template -->
<div class="list-main">
	<% if (model.movies.length > 0) { %>
	<ul class="thumbnails">
		<% _.each(model.movies, function (movie, index) { %>
		<% if (movie.title && movie.description) { %>
			<li class="span3">
				<% if (index === 0) { %><div class="thumbnail selected"><% } else { %>
				<div class="thumbnail">
					<% } %>
					<a href="<%= movie.url %>">
						<img src="<%= movie.thumbnail %>" alt="">
						<h3><%= movie.title %></h3>
						<p><%= movie.description %></p>
					</a>
				</div>
			</li>
		<% } %>
		<% }); %>
	</ul>
	<% } %>
</div>